name: First Action

on:
  workflow_dispatch: 

jobs:
 drawtree:
  runs-on: windows-latest

  steps:
  - name: 'Checkout code'
    uses: actions/checkout@v4
  
  - name: 'Install PowerShell'
    run: sudo apt-get install -y powershell
    
  - name: 'Run_PowerShell_tree_script'
    shell: pwsh
    run: ./tree.ps1
